button{
    background-color: blue;
    max-width: max-content;
    color:aqua;
    font-size: 1rem;
    
}
body{
    background-color: grey;
}
h2{
    color:red;
    text-align: center ;
}
 div{
    text-align: center;
 }
